<ion-header>
  <ion-toolbar class="header">
    <img
      style="width: 40px"
      class="headerLeft"
      src="../assets/icon/burgerMenu.svg"
    />
    <ion-title class="headerCenter">Ana sayfa</ion-title>
    <div class="headerRight">
      <img src="../assets/icon/giftIco.svg" alt="" />
      <img src="../assets/icon/listIco.svg" alt="" />
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="searchBar">
  <ion-searchbar
    show-clear-button="always"
    clear-icon="options-outline"
    value="Mekan ara"
    placeholder="Mekan ara"
  ></ion-searchbar>

  <ion-list>
    <h6 class="results">Sonuçlar</h6>
    <ion-item button *ngFor="let item of restaurants">
      <ion-label class="container">
        <div class="top">
          <img class="image" [src]="item.images[0]?.base64" />
          <div class="rating">
            <img src="../assets/icon/star.png" />
            <p>{{item.storeInfo.rate.toFixed(1)}}</p>
          </div>
        </div>
        <h2 class="title">{{item.title}}</h2>
        <div class="content">
          <div class="left">
            <p>Coffee, Tatlı</p>
            <p class="distance">3 km yakınında</p>
          </div>
          <div class="right">
            <p>Min. Sipariş Tutarı: ₺{{item.storeInfo.minOrderPrice}}</p>
            <p>
              {{item.storeInfo.workingHours.closed ? 'İşletme Kapalı' : 'İşletme
              Açık'}} {{item.storeInfo.workingHours[0].open}} /
              {{item.storeInfo.workingHours[0].close}}
            </p>
          </div>
        </div>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll (ionInfinite)="loadMore($any($event))">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data.."
    ></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
