* {
  font-family: Montserrat !important;
}
.right {
  text-align: right;
  padding-right: 10px;
  width: 50%;
  p {
    color: rgba(131, 129, 129, 0.819);
    font-size: 11px;
    font-weight: lighter;
  }
}
.left {
  padding-left: 10px;
  width: 50%;
  color: rgba(133, 133, 133, 0.819);
  p {
    font-size: 11px;
    font-weight: lighter;
  }
}

.distance {
  color: black;
}

.title {
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom: 5px;
}

.results {
  padding-left: 16px;
}

.header {
  text-align: center;
  font-size: 12px;
}

.headerCenter,
.headerRight,
.headerLeft {
  display: inline-block;
  padding: 0rem 0rem;
}

.headerCenter {
  float: inline-start;
  padding-left: 40px;
  padding-top: 10px;
  font-size: 16px;
}

.headerLeft {
  float: left;
}

.headerRight {
  float: right;
}

ion-content {
  ion-searchbar {
    font-size: 5px;
  }
}

.image {
  border-radius: 10px;
  object-fit: cover;
  width: 100%;
  height: 150px;
}

.container {
  //color: rgb(60, 60, 60);
  box-shadow: 4px 4px 4px 4px #8888880a;
  border-radius: 10px;
  border-bottom: none;
}

.content {
  display: flex;
  justify-content: inline-block;
  padding-bottom: 10px;
}

.top {
  position: relative;
  text-align: center;
  color: white;
}
.rating {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  width: 56px;
  height: 32px;
  top: 10px;
  left: 16px;
  border-radius: 10px;
  background: #b70014;
  img {
    width: 14px;
    height: 14px;
    padding-bottom: 0px;
  }
  p {
    padding-top: 2.5px;
    padding-left: 3px;
    font-size: 12px;
    font-weight: lighter;
  }
}
